p{
    color: seagreen;
    text-shadow: 1px 1px 4px darkgrey;

    color:skyblue,blanchedalmond,salmon,olivedrab,navajowhite,lightpink,lightsteelblue,cadetblue,mediumaquamarine,mediumslateblue,mediumorchid,lightblue,lemonchiffon
}